
@{
    ViewBag.Title = "Index";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/jsAngular.Utility.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/Book/jsBook.js"></script>
    <link href="~/Content/cssBook.css" rel="stylesheet" />

</head>
<body ng-app="BookApp" ng-controller="BookController">

    <br />
    <div class="row no-gutters warning">
        @*<div class="well-sm">
                <a href="#" ng-click="gotoClientform()" class="navbar-brand">Client Form</a>
                <a href="#" ng-click="gotoClientList()" class="navbar-brand">List</a>
            </div>*@
        <div class="col-md-6 no-gutters">
            <div class="leftside d-flex justify-content-center ">
                <table>
                    <tr>
                        <td>
                            <div class="badge bg-warning"
                                 style="color:black">
                                Fill Out The Below Client Form
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Client Name
                        </td>
                        <td>
                            <input type="text" class="form-control"
                                   id="clientName" ng-model="Book.ClientName">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Book Name
                        </td>
                        <td>
                            <select class="form-control" ng-model="Book.BookId" id="drop">
                                <option value="">--Select Book--</option>
                                <option ng-repeat="list in getBookList" value="{{list.BookId}}">
                                    {{list.BookName}}
                                </option>
                            </select>
                            @*<select class="form-control"
                                        ng-options="list.BookId as list.BookName for list in getBookList"
                                        ng-model="Book.BookName" id="drop">
                                    <option value="">--Select Book--</option>
                                </select>*@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Purchase Date
                        </td>
                        <td>
                            <input type="date" class="form-control"
                                   id="date" ng-model="Book.PurchaseDate">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Book Rate
                        </td>
                        <td>
                            <input type="text" class="form-control"
                                   id="bookrate" ng-model="Book.BookRate">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Contact Number
                        </td>
                        <td>
                            <input type="number" class="form-control"
                                   id="contact" ng-model="Book.ContactNumber">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email
                        </td>
                        <td>
                            <input type="email" class="form-control"
                                   id="email" ng-model="Book.Email">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Age
                        </td>
                        <td>
                            <input type="number" class="form-control"
                                   id="age" ng-model="Book.Age">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Address
                        </td>
                        <td>
                            <textarea class="form-control"
                                      id="address" ng-model="Book.Address"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success"
                                    ng-click="saveClientDetails(Book)">
                                Save
                            </button>
                            <button type="button" class="btn btn-warning"
                                    ng-click="clearClientDetails()">
                                Clear
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6 no-gutters">
            @*<span style="color:red" id="noRec"></span>*@
            <div class="badge bg-warning"
                 style="color:black">
                Total Books:
            </div> <strong>{{TotBookCount}}</strong>&nbsp;&nbsp;&nbsp;
            <div class="badge bg-warning"
                 style="color:black">
                Searched Books:
            </div><strong>{{searchBookCount!=0?searchBookCount:'NA'}}</strong>
            <div class="rightside">
                <form>
                    <table>
                        <tr>
                            <td>
                                <input class="form-control" type="search"
                                       ng-model="search.bookS" name="search" placeholder="Search Book.." id="search">
                            </td>
                            <td>
                                <button type="button" class="btn btn-success"
                                        ng-click="getBookRateListBySearch(search)">
                                    Search
                                </button>
                            </td>
                        </tr>
                    </table>

                </form>

                <table class="table">
                    <tr>
                        <td>
                            <div class="badge bg-warning"
                                 style="color:black">
                                Online Book & Rate
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Book ID</th>
                        <th>Book Name</th>
                        <th>Book Rate</th>
                    </tr>
                    <tr ng-repeat="list in getBookRateList" class="warning table-hover">

                        <td>{{list.BookId}}</td>
                        <td>{{list.BookName}}</td>
                        <td>{{list.BookRate}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div>
        <div class="badge bg-warning"
             style="color:black">
            Total Books:
        </div> <strong>{{}}</strong>&nbsp;&nbsp;&nbsp;
        <div class="badge bg-warning"
             style="color:black">
            Searched Books:
        </div><strong>{{}}</strong>
        <div class="rightside">
            <form>
                <table>
                    <tr>
                        <td>
                            <input class="form-control" type="search"
                                   ng-model="client.bookSearch" name="search" placeholder="Search Book.." >
                        </td>
                        <td>
                            <input class="form-control" type="search"
                                   ng-model="client.clientSearch" name="search" placeholder="Search Client.." >
                        </td>
                        <td>
                            <input class="form-control" type="date"
                                   ng-model="client.dateSearch" name="search"  >
                        </td>
                        <td>
                            <button type="button" class="btn btn-success"
                                    ng-click="getClientListBySearch(client)">
                                Search
                            </button>
                        </td>
                    </tr>
                </table>

            </form>
            <table class="table">
                <tr>
                    <td>
                        <div class="badge bg-warning"
                             style="color:black">
                            Client Details
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Client Name </th>
                    <th>Book Name</th>
                    <th>Purchase Date</th>
                    <th>Book Rate</th>
                    <th>Contact Number</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Edit</th>
                </tr>
                <tr ng-repeat="list in getClientList" class="warning table-hover">

                    <td>{{list.ClientName}}</td>
                    <td>{{list.BookName}}</td>
                    <td>{{list.PurchaseDate}}</td>
                    <td>{{list.BookRate}}</td>
                    <td>{{list.ContactNumber}}</td>
                    <td>{{list.Email}}</td>
                    <td>{{list.Age}}</td>
                    <td>{{list.Address}}</td>
                    <td>
                        <input type="button"
                               ng-click="Edit($index)" value="Edit" />
                        <input type="button" class=" btn-danger"
                               ng-click="DeleteClientDetails(Book)" value="Delete" />

                </tr>
            </table>
        </div>
        </div>
</body>
<script>
    objBook.Init();
</script>